In [5]:
import seaborn as sns
Titanic = sns.load_dataset('titanic')

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [131]:
Titanic2 = Titanic.drop(['survived','deck','embark_town','alone'], axis=1)
##(,'adult_male')

In [132]:
Titanic2.head()

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,alive,sexR
0,3,male,22.0,1,0,7.2500,S,Third,man,True,no,None
1,1,female,38.0,1,0,71.2833,C,First,woman,False,yes,None
2,3,female,26.0,0,0,7.9250,S,Third,woman,False,yes,None
3,1,female,35.0,1,0,53.1000,S,First,woman,False,yes,None
4,3,male,35.0,0,0,8.0500,S,Third,man,True,no,None

In [97]:
Titanic2.sexR.value_counts()

0    577
1    314
Name: sexR, dtype: int64

In [108]:
def sex_recode (series): 
    if series == "male": 
        return 0
    if series == "female": 
        return 1

Titanic2['sexR'] = Titanic2['sex'].apply(sex_recode)

In [106]:
Titanic2.embarkedR.value_counts()

0    554
1    130
2     28
Name: embarkedR, dtype: int64

In [109]:
def embarked_recode (series): 
    if series == "S": 
        return 0
    if series == "C": 
        return 1
    if series == "Q": 
        return 2

Titanic2['embarkedR'] = Titanic2['embarked'].apply(embarked_recode)

In [59]:
Titanic2.classR.value_counts()

3    491
1    216
2    184
Name: classR, dtype: int64

In [110]:
def class_recode (series): 
    if series == "First": 
        return 1
    if series == "Second": 
        return 2
    if series == "Third": 
        return 3

Titanic2['classR'] = Titanic2['class'].apply(class_recode)

In [62]:
Titanic2.whoR.value_counts()

1    537
2    271
3     83
Name: whoR, dtype: int64

In [111]:
def who_recode (series): 
    if series == "man": 
        return 1
    if series == "woman": 
        return 2
    if series == "child": 
        return 3

Titanic2['whoR'] = Titanic2['who'].apply(who_recode)

In [85]:
Titanic2.aliveR.value_counts()

0    549
1    342
Name: aliveR, dtype: int64

In [112]:
def alive_recode (series): 
    if series == "yes": 
        return 1
    if series == "no": 
        return 0

Titanic2['aliveR'] = Titanic2['alive'].apply(alive_recode)

In [134]:
Titanic2['adult_male'] = pd.to_numeric(Titanic2['adult_male'], errors ='coerce')

In [137]:
Titanic2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      0 non-null      int64
 1   sex         0 non-null      object
 2   age         0 non-null      float64
 3   sibsp       0 non-null      int64
 4   parch       0 non-null      int64
 5   fare        0 non-null      float64
 6   embarked    0 non-null      object
 7   class       0 non-null      category
 8   who         0 non-null      object
 9   adult_male  0 non-null      bool
 10  alive       0 non-null      object
 11  sexR        0 non-null      object
dtypes: bool(1), category(1), float64(2), int64(3), object(5)
memory usage: 132.0+ bytes

In [136]:
Titanic2.dropna(inplace=True)

In [118]:
x = Titanic2[['pclass', 'age', 'sibsp', 'parch','fare', 'sexR', 'embarkedR', 'classR', 'whoR']]

In [119]:
y = Titanic2['alive']

In [121]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=76)

In [122]:
decisionTree = DecisionTreeClassifier(random_state=76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=76)

In [125]:
treePredictions = decisionTree.predict(x_test)
print(confusion_matrix(y_test, treePredictions))

[[125   0]
 [  0  89]]

In [126]:
print(classification_report(y_test, treePredictions))

              precision    recall  f1-score   support

          no       1.00      1.00      1.00       125
         yes       1.00      1.00      1.00        89

    accuracy                           1.00       214
   macro avg       1.00      1.00      1.00       214
weighted avg       1.00      1.00      1.00       214

In [128]:
forest = RandomForestClassifier()
forest.fit(x_train, y_train)

RandomForestClassifier()

In [129]:
print(accuracy_score(y_test, forest.predict(x_test)))

1.0

In [130]:
print(classification_report(y_test, forest.predict(x_test)))

              precision    recall  f1-score   support

          no       1.00      1.00      1.00       125
         yes       1.00      1.00      1.00        89

    accuracy                           1.00       214
   macro avg       1.00      1.00      1.00       214
weighted avg       1.00      1.00      1.00       214